* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto'
}
.barraSuperior{
    background-color: #1CD1B0;
    height: 38px;
    padding: 10px;
    width: 100vw;
}

.tituloGeneral{
    background-color: #00669F;
    padding: 28px;
    height: 100px;
}

.tarjeta{
    position: relative;
    margin: 30px;
}

.one{
    height: 190px;
}

.two{
    border-radius: 50%;
    position: absolute;
    left: 90px;
    top: 130px;
}

.roundedImg{
    border-radius: 50%;
}



.three{
    background-color:#F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 336px;
    padding: 10px;
}

.tituloTarjeta{
    margin: 10px;
    text-align: center;
}

.liked{
    position: absolute;
    top: 10px;
    left: 10px;
}

.seccionTarjeta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    flex-wrap: wrap;
}

.box{
    width: 300px;
}

footer{
    align-items: center;
    color: white;
    display: flex;
    background-color: #00669F;
    left: 0;
    height: 51px;
    width: 100%;
    padding: 15px;

}

.form__login__input{
    display: flex;
    flex-direction: column;
}

.form__login__input input{
    width: 620px;
    height: 60px;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    margin: 20px 408.88px 20px 411.12px;
}

.login{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    margin: 230px 835px 55px 410px;
}

input[type=button]{
    background-color: #1CD1B0;
    border-radius: 23.011px;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
    padding: 5px 270.75px 4.79px 271px;
    margin: 64px 415.745px 20.21px 410px;
}

.form__p{
    margin: 0px 539px 294px 545px;
}

.form__button{
    display: flex;
}

.button__1{
    background-color: #8888;
    border-radius: 23.011px;
    width: 300px;
    height: 53.79px;
    margin: 50px 10px 20.21px 409px;

    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
    color: #ffffff;
}

.button__2{
    background-color: #1CD1B0;
    border-radius: 23.011px;
    width: 300px;
    height: 53.79px;

    margin: 50px 411px 20.21px 10px;
    
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
    color: #000000;
}

.section__ul__form{
    align-items: center;
    background-color: #001D2D;
    display: flex;
    justify-content: flex-end;
    height: 40px;
}

.section__ul__form li a{
    color: #ffffff;
    text-decoration: none;
    margin: 11px 20px 10px 20px;
}


@media(max-width: 480px){
  .seccionTarjeta{
    flex-direction: column;
  }

  .three{
    margin: 10px 0px 10px 0px;
  }


}