*{
  margin:0px;
}

header{
  align-items: center;
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.header__nav{
  color: #F3F3F3;
  display: flex;
}

.logo{
  height: 80px;
  margin-right: 42px;
}

.header__lu{
  align-items: center;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.text{
  margin:13px;
}

.main{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 719px;
}

.main__delivery{
  background-image: url('assets/delivery.jpg');
  border-radius: 5px;
  margin-bottom: 35px;
  margin-right: 2.5px;
  margin-top:35px;
  height: 350px;
  width: 490px;
  text-align: center;
}

.title__section{
  color: #FC200C;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-top: 20px;
  text-align: center;
}

.main__pizza{
  background-color: #FFFF;
  border-radius: 5px;
  height: 350px;
  margin-bottom: 35px;
  margin-left: 2.5px;
  margin-top:35px;
  width: 491px;
}

span{
  color: #ffff;
}

.main__top{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.title__pizza{
  color: #222222;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  margin-left: 18px;
  margin-bottom: 20px;
}

.list_text{
  color: #222222;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  margin: 10px;
}

.footer{
  align-items: center;
  background-color: #222222;
  color: #F3F3F3;
  display: flex;
  height: 150px;
  justify-content: space-between;
}

.footer__p{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 12px 12px 12px 20px;
}